.DS_Store
.netrwhist
!home/.config/zsh/plugins/*
Brewfile.lock.json
lazy-lock.json
home/.gitconfig.local
deno/.deno/bin/*
home/.config/zsh/extras/.zshrc.local.zsh

home/.config/cloudflared/token.local

artifacts/
